@use 'src/styles/vars'; 

.container{



  &-animals{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    text-align: center;  
    margin: auto; 
  }

  &-box{
    background-color: vars.$background-blue;
    width: 35%;
    height: 22rem;
    border-radius: 1.8rem; 
    margin-right: 2rem; 
    border: 1.5px solid darken(vars.$background-blue, 10%);
    margin-bottom: 2rem; 
    display: flex; 
    flex-direction: column; 
    color: vars.$color-title-blue; 
  }

  &-item{ 
    align-items: center;
    justify-content: center;
    margin: auto; 
}

}

.container img{
  width: 15rem;
}
